// @mixins
@mixin option{
  padding: 3rem;
  border-radius: 5rem;
  background-color: rgba(var(--color-primary-rgb), 0.8);
  border: black solid 2px;
  font-size: 3rem;
}

// MEDIA QUERY MANAGER
/*
// 0 - 600px:      Phone
// 600 - 900px:    Tablet portrait
// 900 - 1200px:   Tablet landscape
// [1200 - 1800] is where our normal styles apply
// 1800px + :      Big desktop

// $breakpoint argument choices:
// - phone
// - tab-port
// - tab-land
// - big-desktop

// ORDER: Base + typography > general layout + grid > page layout > components

// 1em = 16px
// */
