:root {
	// Default Theme: LAGOON 
	--color-primary: rgb(106, 89, 149);
	--color-primary-rgb: 106, 89, 149;
	--color-primary-dark: rgb(78, 61, 123);
	--color-primary-dark-rgb: 78, 61, 123;
	--color-primary-darker: rgb(55, 41, 93);
	--color-primary-darker-rgb: 55, 41, 93;
	--color-primary-light: rgb(144, 122, 199);
	--color-primary-light-rgb: 144, 122, 199;

	--color-secondary: rgb(134, 214, 195);
	--color-secondary-rgb: 134, 214, 195;
	--color-secondary-light: rgb(163, 233, 215);
	--color-secondary-light-rgb: 163, 233, 215;
	--color-secondary-lighter: rgb(196, 244, 233);
	--color-secondary-lighter-rgb: 196, 244, 233;

	--color-tertiary: rgb(101, 119, 142);
	--color-tertiary-rgb: 101, 119, 142;
	--color-tertiary-dark: rgb(74, 90, 110);
	--color-tertiary-dark-rgb: 74, 90, 110;
	--color-tertiary-darker: rgb(47, 58, 74);
	--color-tertiary-darker-rgb: 47, 58, 74;
	--color-tertiary-light: rgb(128, 146, 165);
	--color-tertiary-light-rgb: 128, 146, 165;
	--color-tertiary-lighter: rgb(153, 169, 186);
	--color-tertiary-lighter-rgb: 153, 169, 186;

	--color-rest: rgb(183, 228, 199);
	--color-rest-rgb: 183, 228, 199;
	--color-rest-light: rgb(209, 241, 217);
	--color-rest-light-rgb: 209, 241, 217;
	--color-rest-lighter: rgb(230, 248, 236);
	--color-rest-lighter-rgb: 230, 248, 236;

	--color-focus: rgb(246, 119, 65);
	--color-focus-rgb: 246, 119, 65;

	// LAGOON THEME /////////////////////////////////////

	--Lagoon-color-primary: rgb(106, 89, 149);
	--Lagoon-color-primary-rgb: 106, 89, 149;
	--Lagoon-color-primary-dark: rgb(78, 61, 123);
	--Lagoon-color-primary-dark-rgb: 78, 61, 123;
	--Lagoon-color-primary-darker: rgb(55, 41, 93);
	--Lagoon-color-primary-darker-rgb: 55, 41, 93;
	--Lagoon-color-primary-light: rgb(144, 122, 199);
	--Lagoon-color-primary-light-rgb: 144, 122, 199;

	--Lagoon-color-secondary: rgb(134, 214, 195);
	--Lagoon-color-secondary-rgb: 134, 214, 195;
	--Lagoon-color-secondary-light: rgb(163, 233, 215);
	--Lagoon-color-secondary-light-rgb: 163, 233, 215;
	--Lagoon-color-secondary-lighter: rgb(196, 244, 233);
	--Lagoon-color-secondary-lighter-rgb: 196, 244, 233;

	--Lagoon-color-tertiary: rgb(101, 119, 142);
	--Lagoon-color-tertiary-rgb: 101, 119, 142;
	--Lagoon-color-tertiary-dark: rgb(74, 90, 110);
	--Lagoon-color-tertiary-dark-rgb: 74, 90, 110;
	--Lagoon-color-tertiary-darker: rgb(47, 58, 74);
	--Lagoon-color-tertiary-darker-rgb: 47, 58, 74;
	--Lagoon-color-tertiary-light: rgb(128, 146, 165);
	--Lagoon-color-tertiary-light-rgb: 128, 146, 165;
	--Lagoon-color-tertiary-lighter: rgb(153, 169, 186);
	--Lagoon-color-tertiary-lighter-rgb: 153, 169, 186;

	--Lagoon-color-rest: rgb(183, 228, 199);
	--Lagoon-color-rest-rgb: 183, 228, 199;
	--Lagoon-color-rest-light: rgb(209, 241, 217);
	--Lagoon-color-rest-light-rgb: 209, 241, 217;
	--Lagoon-color-rest-lighter: rgb(230, 248, 236);
	--Lagoon-color-rest-lighter-rgb: 230, 248, 236;

	--Lagoon-color-focus: rgb(246, 119, 65);
	--Lagoon-color-focus-rgb: 246, 119, 65;

	// Monkai THEME /////////////////////////////////////

	--Monkai-color-primary: rgb(169, 132, 103);
	--Monkai-color-primary-rgb: 169, 132, 103;
	--Monkai-color-primary-dark: rgb(139, 109, 79);
	--Monkai-color-primary-dark-rgb: 139, 109, 79;
	--Monkai-color-primary-darker: rgb(111, 86, 59);
	--Monkai-color-primary-darker-rgb: 111, 86, 59;
	--Monkai-color-primary-light: rgb(196, 168, 138);
	--Monkai-color-primary-light-rgb: 196, 168, 138;

	--Monkai-color-secondary: rgb(41, 189, 195);
	--Monkai-color-secondary-rgb: 41, 189, 195;
	--Monkai-color-secondary-light: rgb(55, 213, 218);
	--Monkai-color-secondary-light-rgb: 55, 213, 218;
	--Monkai-color-secondary-lighter: rgb(93, 246, 252);
	--Monkai-color-secondary-lighter-rgb: 93, 246, 252;

	--Monkai-color-tertiary: rgb(107, 107, 107);
	--Monkai-color-tertiary-rgb: 107, 107, 107;
	--Monkai-color-tertiary-dark: rgb(79, 79, 79);
	--Monkai-color-tertiary-dark-rgb: 79, 79, 79;
	--Monkai-color-tertiary-darker: rgb(58, 58, 58);
	--Monkai-color-tertiary-darker-rgb: 58, 58, 58;
	--Monkai-color-tertiary-light: rgb(141, 141, 141);
	--Monkai-color-tertiary-light-rgb: 141, 141, 141;
	--Monkai-color-tertiary-lighter: rgb(176, 176, 176);
	--Monkai-color-tertiary-lighter-rgb: 176, 176, 176;

	--Monkai-color-rest: rgb(183, 183, 183);
	--Monkai-color-rest-rgb: 183, 183, 183;
	--Monkai-color-rest-light: rgb(209, 209, 209);
	--Monkai-color-rest-light-rgb: 209, 209, 209;
	--Monkai-color-rest-lighter: rgb(230, 230, 230);
	--Monkai-color-rest-lighter-rgb: 230, 230, 230;

	--Monkai-color-focus: rgb(194, 119, 49);
	--Monkai-color-focus-rgb: 194, 119, 49;

	// Owl Theme /////////////////////////////////////

	--Owl-color-primary: rgb(255, 214, 10);
	--Owl-color-primary-rgb: 255, 214, 10;
	--Owl-color-primary-dark: rgb(203, 171, 12);
	--Owl-color-primary-dark-rgb: 230, 193, 9;
	--Owl-color-primary-darker: rgb(133, 107, 6);
	--Owl-color-primary-darker-rgb: 191, 154, 7;
	--Owl-color-primary-light: rgb(255, 223, 78);
	--Owl-color-primary-light-rgb: 255, 223, 78;

	--Owl-color-secondary: rgb(25, 13, 62);
	--Owl-color-secondary-rgb: 25, 13, 62;
	--Owl-color-secondary-light: rgb(0, 64, 123);
	--Owl-color-secondary-light-rgb: 0, 64, 123;
	--Owl-color-secondary-lighter: rgb(0, 80, 162);
	--Owl-color-secondary-lighter-rgb: 0, 80, 162;

	--Owl-color-tertiary: rgb(0, 8, 20);
	--Owl-color-tertiary-rgb: 0, 8, 20;
	--Owl-color-tertiary-dark: rgb(0, 6, 18);
	--Owl-color-tertiary-dark-rgb: 0, 6, 18;
	--Owl-color-tertiary-darker: rgb(0, 4, 15);
	--Owl-color-tertiary-darker-rgb: 0, 4, 15;
	--Owl-color-tertiary-light: rgb(0, 10, 23);
	--Owl-color-tertiary-light-rgb: 0, 10, 23;
	--Owl-color-tertiary-lighter: rgb(56, 36, 83);
	--Owl-color-tertiary-lighter-rgb: 0, 13, 29;

	--Owl-color-rest: rgb(245, 66, 96);
	--Owl-color-rest-rgb: 114, 9, 183;
	--Owl-color-rest-light: rgb(224, 170, 250);
	--Owl-color-rest-light-rgb: 140, 45, 183;
	--Owl-color-rest-lighter: rgb(232, 179, 253);
	--Owl-color-rest-lighter-rgb: 164, 79, 199;

	--Owl-color-focus: rgb(245, 245, 245);
	--Owl-color-focus-rgb: 255, 121, 46;
}
