*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%; //
}
body {
  box-sizing: border-box;
  padding: 3rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  position: relative; /* Ensure positioning context for pseudo-element */
  z-index: 1; /* Ensure the content is above the pseudo-element */
  margin: 0; /* Remove default margin */
}

::selection {
  background-color: var(--color-secondary);
}
