.settings {
	// Background
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	#error-message{
		color: red;
		font-size: 5rem;
		display: none;
	}

	.options {
		// Style
		background-color: rgba(var(--color-primary-light-rgb), 0.8);
		border: var(--color-primary-darker-rgb) solid 4px;
		padding: 5rem;
		box-shadow: 0 0 10rem rgba(var(--color-primary-darker-rgb), 0.5);
		border-radius: 15px;

		// Grid Settings
		display: grid;
		grid-template-columns: max-content 3fr;
		grid-template-rows: repeat(6, 1fr);
		gap: 5rem;

		&__background {
			@include option;
			text-align: center;
			cursor: pointer;
			&:hover {
				filter: brightness(90%);
			}
			&:active {
				filter: brightness(70%);
			}
		}
		&__theme {
			align-self: center;
		}

		// TODO Add Custom Buttons to increase / Decrease using JS https://www.youtube.com/watch?v=zCT7vRaXovk
	}
}
